<br><br><br>
<p class='headline'><u></u>List of Users</p>
<br>
<div class="container" role="main">
    <button routerLink="/users/new">Create New User</button>
    <br><br>
    <div class="container">
        <table>
          <thead>
          <tr>
            <!-- <td>ID</td> -->
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let user of users'>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td><button class="btn btn-primary" (click)="EditUser(user.id)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="DeleteUser(user.id)">Delete</button></td>
          </tr>
          </tbody>
      </table>
    </div>
</div>
  
  