
  .headline {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #333;

    text-emphasis: bold;
    text-align: center;
  }
  /* table  */
  table, th, td {
  
    border: 1px solid rgb(182, 181, 181);
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    text-align: center;
    height: 50px;
    position: relative;
    border: 1px  #1976d2;
  }



