
<br><br><br><br><br><br>
<body>
    <p class='headline'>New User</p>

    <div class="container">
        <td>
            Ime:   <input type="text" [(ngModel)]="user.firstName"><br>
            Prezime:  <input type="text" [(ngModel)]="user.lastName"><br>
            Email:    <input type="text" [(ngModel)]="user.email"   ><br>
            Password: <input type="text" [(ngModel)]="user.password"  ><br><br>
    <button class="button" (click)="SaveUser(user)" [disabled]="!user.firstName || !user.lastName || !user.email">Save</button>
    <button backButton (click)=goBack() >Cancel</button>
        </td>
    </div>

</body>