<p>form works!</p>
<form [FormGroup]="myForm">
Value: {{myForm.Value | json }}
<hr>

<mat-form-field>
    <textarea matInput placeholder="FirstName" formControlName=:"FirstName"></textarea>
</mat-form-field>
<mat-form-field>
    <textarea matInput placeholder="LastName" formControlName=:"LastName"></textarea>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="email" formControlName=:"email">
</mat-form-field>
<mat-form-field>
    <textarea matInput placeholder="password" formControlName=:"password"></textarea>
</mat-form-field>

</form>
